body {
    margin: 0;
    padding: 0;
    background-color: #91b8ea;
}

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  overflow: auto;
}

.App-header {
  overflow: hidden;
  background-color: #225;
  height: 180px;
  padding: 20px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.TPL-logo {
  margin-top: 10px;
  max-width: 20%;
}

/*SELECTORS*/

.Selectors {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 50px;
  width: 100%;
  justify-content: center;
}

.text {
  color: white;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  margin-top: 10px;
}

.Selectors-branch {
  width: 15%;
  margin-right: 10px;
  margin-left: 10px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
}


/*customize select*/
body select {
  display: block;
  padding: 10px 70px 10px 13px !important;
  max-width: 100%; height: 40px !important;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  background: url("https://image.ibb.co/iMeAJv/selectbox_arrow.png") right center no-repeat;
  background-color: #225;
  color: #ffffff;
  font-size: 16px;
  line-height: 16px !important;
  appearance: none;
  text-align: center;
  /* this is must */
  -webkit-appearance: none; -moz-appearance: none;
}
/* body select.select_box option */
body select option {
  padding: 0 4px;
}
/* for IE and Edge */
select::-ms-expand {
  display: none;
}
select:disabled::-ms-expand { 
  background: #f60;
}


/*WORD MAPS*/

.Word_Map {
  font-size:100px;
  display: flex;
  flex-wrap: wrap;
  color: white;
  background-color: #91b8ea;
}

.Word {
  font-size:100px;
  padding: 10px;
  background-color: #91b8ea;
  border-radius: 10px;
  margin: 5px;
}
/*custom hover*/
.customeTheme {
  color: #ff6e00 !important;
  background-color: white !important;
  &.place-top {
  &:after {
  border-top-color: white !important;
  border-top-style: solid !important;
  border-top-width: 20px !important;
  }
  }
}