.App {
  text-align: left;
  font-family: 'Mada', sans-serif;
}

  {/*a.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: auto;
  width: auto;
  background-color: white;*/}

.App-header {
  overflow: hidden;
  background-color: #225;
  height: 150px;
  padding: 20px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.TPL-logo {
  margin-top: 10px;
  max-width: 20%;
}

/*SELECTORS*/
.text {
  color: white;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
}

.Selectors-branch {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

/*customize select*/
body select {
  display: block;
  padding: 10px 70px 10px 13px !important;
  max-width: 100%; height: auto !important;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  background: url("https://image.ibb.co/iMeAJv/selectbox_arrow.png") right center no-repeat;
  background-color: #fff;
  color: #444444;
  font-size: 12px;
  line-height: 16px !important;
  appearance: none;
  /* this is must */
  -webkit-appearance: none; -moz-appearance: none;
}
/* body select.select_box option */
body select option {
  padding: 0 4px;
}
/* for IE and Edge */
select::-ms-expand {
  display: none;
}
select:disabled::-ms-expand { 
  background: #f60;
}

/*WORD MAPS*/

.Word_Map {
  font-size:100px;
  display: flex;
  flex-wrap: wrap;
}

.Word {
  font-size:100%;
  padding: 10px;
  background-color: orange;
  border-radius: 10px;
  margin: 5px;
}