.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 75px;
  width: 75px;
  background-color: white;
}

.App-header {
  background-color: #225;
  height: 150px;
  padding: 20px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Word_Map {
  font-size:100px;
  display: flex;
  flex-wrap: wrap;
}

.Word {
  font-size:100px;
  padding: 10px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
